.registerForm{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #373737;
    overflow: hidden;
    position: relative;
    top: 200px;
}
.RegisterSVG{
    align-self: center;
    padding-top: 10px;
}
.RegisterTitle{
    font-weight: 600;
    font-size: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    text-align: center;
    color: #b6b6b6;
}
.RegisterTitleFirst{
    color: #202020;
}
.RegisterProgressWrapper{
 width: 100%;
    display: flex;
    justify-content: center;
}
.RegisterProgress{
    background-color: #404040;
    border: 1px solid gray;
    border-radius: 10px;
    height: 13px;
    transition: width 0.5s ease;
}
.RegisterProgress::-moz-progress-bar{
    background-color: #232323;
    border-radius: 5px;

}

.RegisterInput{
    border-radius: 10px;
    width: 80%;
    height: 35px;
    padding: 0;
    border: 1px solid black;
}
.RegisterInput:focus{
    outline: 1px solid white;
}

.RegisterInput::placeholder{
    text-align: center;
}
.RegisterInputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.RegisterButtonFirst{
    width: 200px;
    height: 40px;
    background-color: #232323;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}
.RegisterButtonBack{
    cursor: pointer;
    background-color: #232323;
    border: none;
    border-radius: 10px;
    color: white;
    width: 70px;
    margin-bottom: 10px;
}
.RegisterButtonFirstWrapper{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.RegisterMotion{
    position: absolute;
    width: 100%;
}
.fileUploader{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}
.customFileUpload {
    width: 80%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: gray;
    border-radius: 4px;

}
.RegisterFAQ{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.FAQ{
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customFileUpload:hover {
    background-color: darkgray;
}
input[type="file"] {
    display: none;
}
.RegisterErrorUserNameMessage{
    position: absolute;
    top:10px;
    color: darkred;
}
.RegisterErrorEmailMessage{
    position: absolute;
    bottom:165px;
    color: darkred;
}
.RegisterErrorPasswordMessage{
 position: absolute;
    bottom:100px;
    color: darkred;
}
.BackToRegiLog{
    background-color: transparent;
    border: none;
    transition: 0.2s;
    border-radius: 50%;
    width: fit-content;
    height: 24px;
}
.BackToRegiLog:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
