.ItemPageContainer{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #474646;
    color: white;
    justify-content: center;
    align-items: center;
}
.ItemPageTitle{
    text-align: center;
    font-size: 5rem;
}
.ItemPageFirstSection{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.ItemPageSecondSection{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 50px;
}
.ItemPageSVG{
    width: 120px;
    height: 120px;
}
.ItemPageIncome{
    font-size: 40px;
    color: #00a32a;
}
.ItemPageExpense{
    font-size: 40px;
    color: #fd0000;
}
.ItemPageTime{
    display: flex;
}
.ItemPageExtraInfoHeader{
    text-align: center;
}
.ItemPageExtraInfoP{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    height: 100%;
    align-items: center;
}
.ItemPageThirdSection{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 50px;

}