.ItemPageContainer{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #474646;
    color: white;
    justify-content: center;
    align-items: center;
}
.ItemPageTitle{
    text-align: center;
    font-size: 6rem;
}
.ItemTitle{
    text-align: center;
    font-size: 4rem;
}
.ItemPageFirstSection{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;

}
.ItemPageFirstSection:hover{
    transform: scale(1.1);
}
.ItemPageSecondSection{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 50px;
    transition: 1s;
}
.ItemPageSecondSection:hover{
    transform: scale(1.1);
}
.ItemPageSVG{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.5s;
}
.ItemPageSVG:hover{
    background-color: #5c5c5c;
}
.ItemPageIncome{
    font-size: 40px;
    color: #00a32a;
}
.ItemPageExpense{
    font-size: 40px;
    color: #fd0000;
}
.ItemPageTime{
    display: flex;
}
.ItemPageExtraInfoHeader{
    text-align: center;
}
.ItemPageExtraInfoP{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    height: 100%;
    align-items: center;
}
.ItemPageThirdSection{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #5c5c5c;
    margin-top: 50px;

    transition: 1s;

}
.ItemPageThirdSection:hover{
    transform: scale(1.1);
}
.BackToMain{
    position: absolute;
    top: 20px;
    left: 400px;
}