.MainTitle{
    font-weight: 600;
    font-size: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    color: #b6b6b6;
    width: fit-content;
    border-radius: 0 0 15px 0 ;
    padding:10px;


}
.MainTitleFirst{
    color: #202020;
}
.MainTitleSecond{

    color: #b6b6b6;
}
.SecondTitle{
    margin-right: 10px;
    font-weight: 600;
    font-size: 25px;
    font-family: "Balsamiq Sans", sans-serif;
    color: #b6b6b6;
    width: fit-content;
    border-radius: 0 0 0 15px ;
    padding: 10px;
    cursor: pointer;

}
.Main-header{
    display: flex;
    justify-content: space-between;
}



.MainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expenses{
    width: 80%;
    border-radius: 10px 10px 0 0;
    min-height: 700px;
    background: linear-gradient(to bottom, #373737, #000000);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.infoItemsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

}
.toggleGraphContainer{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background: #373737;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    position: relative;
    left: 830px;
    bottom: 30px;

}
.toggleGraph{
    display: none;
}
.toggleGraphLabel{
    background-color: #fff;
    position: relative;
}
.toggleGraphLabel:before{
    content: "";
    position: absolute;
    background-color: black;
    width: 29px;
    height: 30px;
    bottom: -15.5px;
    left: -63px;
    transition: 0.2s;
    border-radius: 10px;



}
.toggleGraph:checked + .toggleGraphLabel:before{
    transform:translateX(30px);
}
.pieChartSvg{
    z-index: 1;
}
.barChartSvg{
    z-index: 1;
}
.barChartWrapper{
    width: 1400px;
    overflow-x: auto;
    overflow-y: hidden;
}
.myDateInput {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
}

.myDateInput:focus {
    border-color: #8884d8;
    box-shadow: 0 0 5px #8884d8;
}
.react-datepicker-popper{
    z-index: 10 !important;
}
.react-datepicker {
    background-color: #2b2b2b !important;
    border: none !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4) !important;
    border-radius: 10px !important;


}

.react-datepicker__header {
    background-color: #373737 !important;
    border-bottom: none !important;
    color: white !important;
}

.react-datepicker__day {
    color: white !important;
}

.react-datepicker__day--selected {
    background-color: #8884d8 !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: #555 !important;
}
.datePickerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.datePickerLabel{
    color: white;
    font-size: 20px;
}
.datePickerTags{
    text-align: center;
    color: white;
    margin-top: 10px;

}
.categoryWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    overflow-y:scroll;
}
.categoryItemWrapper{
    display: flex;
    width: 120px;
    justify-content:space-between;
    color: white;
}
.datePickerHeader{
    color: white;
    margin-bottom: 10px;
}
.closeDataPickWrapperButtonWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.closeDataPickButton{
    border-radius: 50%;
    border: none;
    background-color: #232323;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: white;

}
.datePickerButton{
    width: 200px;
    height: 40px;
    background-color: #232323;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease;
}
.datePickerButton:hover{
    transform: scale(1.2);
}
.datePickerButtonWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.calendarSvg{
    cursor: pointer;
}
.NoData{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.toggleDiagramTypeWrapper{
    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 5px;
    background: #373737;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
    position: relative;
    top: 10px;
    bottom: 30px;
}

.toggleDiagramTypeInput{
    display: none;
}
.toggleDiagramTypeLabel:before{
    content: "";
    background-color: black;
    position: absolute;
    width: 65px;
    height: 30px;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    border-radius: 10px;


}
.toggleDiagramTypeSpan{
    color: white;
    z-index: 1;
}

.toggleDiagramTypeInput:checked + .toggleDiagramTypeLabel:before{
    transform:translateX(65px);
}
.searchInput{
    border-radius: 10px;
    width: 25%;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #393939;
    color: white;
    transition: 0.3s ease;
}
.searchInput:focus{
    outline: none;
    box-shadow: 0 0 5px #8884d8;
}
.profile-menu-hidden{
    display: flex;
    flex-direction: column;
    width: 0;
    height: 0;
    opacity: 0;

}

.profile-menu-item{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    text-decoration: none;
    color: black;
}
.profile-menu-item:hover{
    color:white;
    cursor: pointer;
    .profile-menu-svg{
        fill: #b6b6b6;
    }

    .profile-menu-svg g{
        fill:#b6b6b6;

    }
    .profile-menu-svg-cross{
        fill: #b6b6b6;
    }
}
.profile-menu-item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}
.profile-menu-svg{
    width: 50%;
}
.profile-menu-svg-cross{
    width: 50%;
}
.profile-menu-item-profile{
    margin-right: 9px;
}
.profile-menu-item-compare{
    font-size:15px;
}

.PagiButtons,.PagiButtonsArrowLeft,.PagiButtonsArrowRight{
    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}
.PagiButtons:hover ,.PagiButtonsArrowLeft:hover,.PagiButtonsArrowRight:hover{
    cursor: pointer;
    background-color: rgba(179, 179, 179, 0.1);
}
.PagiButtonsWrapper{
    display: flex;
    gap: 3px;
    margin-top: 10px;
}