.MainTitlePageCompare{
    font-weight: 600;
    font-size: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    color: #b6b6b6;
    width: fit-content;
    border-radius: 0 0 15px 0 ;
    padding:10px;
}
.nav-link-compare{

    text-decoration: none;
}
.MainTitleFirstPageCompare{

    color: #202020;
}
.MainTitleSecondPageCompare{


    color: #b6b6b6;
}
.ComparePickerWrapper{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.ComparePicker{
    width: 800px;
    height: 600px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
}
.ComparePickerHeader{
    text-align: center;
    font-size: 40px;
    color: white;
}
.ComparePickerBody{
    color: white;
    margin:150px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.ComparePickerSelect{
    color: white;
    padding: 5px;
    border: 1px solid #4a4a4a;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: #292929;
    border-radius: 10px;
}
.ComparePickerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ComparePickerButtonWrapper{
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: center;
}
.ComparePickerButton{
    width: 220px;
    height: 50px;
    background-color: #292929;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    color: white;
    transition: 0.2s;
}
.ComparePickerSelectYear{

    color: white;
    padding: 5px;
    border: 1px solid #4a4a4a;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #292929;
    border-radius: 10px;
}
.MonthsAppearance{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.MonthsAppearanceItem{
    color: white;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: 350px;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.MonthsAppearanceItemTextBlock{
    background-color: #292929;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    color: #eaeaea;
}
.togglePositioner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.MonthsAppearanceItemBlockWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.toggleCompareTypeWrapper{
    width: 140px;
    height: 40px;
    padding: 10px;
    position: relative;
    background-color: #373737;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.toggleCompareTypeInput{
    display: none;
}
.toggleCompareTypeLabel:before{
    content: "";
    position: absolute;
    top:5px;
    left:10px;
    background-color: black;
    border-radius: 10px ;
    width: 50px;
    height: 30px;
    transition: 0.2s;
}
.toggleCompareTypeSpan{
    color: white;
    z-index: 1;
}
.toggleCompareTypeInput:checked + .toggleCompareTypeLabel:before{
    transform:translateX(60px);
    width: 60px;
}
.MonthsComparison{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.MonthsComparisonItem{
    color: white;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: 230px;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.MonthsComparisonItemHeader{
    color: gray;
    font-weight: lighter;
}
.MonthsComparisonItemContentWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.MonthsComparisonItemIncomes{
    color: #00b500;
}
.MonthsComparisonItemExpenses{
    color: #b80000;
}
.MonthsBarChartSection{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.MonthsBarChartSectionFirstBar{
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    width: 50%;
    height: 500px;
    background-color: #3a3a3a;
}
.MonthsBarChartSectionSecondBar{
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    width: 50%;
    height: 500px;
    background-color: #3a3a3a;
}
.MonthPieChartSection{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.MonthsPieChart{
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #4a4a4a;
    width: 100%;
    height: 600px;
    background-color: #3a3a3a;
}
.MuiChartsLabel-root {
    color: white; !important;
}
.MonthOverallSection{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.CardsWrapper{
    width: 100%;
    height: 600px;
    padding: 10px;
    border: 1px solid #4a4a4a;
    background-color: #3a3a3a;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PercentChangeCard{
    height: 500px;
    width: 300px;
    background-color: #2b2b2b;
    border-radius: 10px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PercentChangeCardPercentText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}