.Message{
    z-index: 1;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: 2px solid green;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ErrorMessage{

    z-index: 1;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: 2px solid darkred;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Message:hover{
    cursor: pointer;
}